@{
    ViewData["Title"] = "Sis Cad Usuario";
}

<div class="text-center">
    <h1 class="display-4">SISTEMA DE CADASTRO DE USUARIO!</h1>
    <p>Consulte os usuários cadastrados clicando em Sis Cad Usuário ou aqui 
        <a asp-area="" asp-controller="Users" asp-action="Index">Sis Cad Usuário</a>.</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>